/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: #ffd6e8;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: #ffe6f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #ff4d79;
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #444;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff4d79;
}

.icons i {
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    color: #ff4d79;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
}

/* LEFT TEXT */
.hero-left h1 {
    font-size: 55px;
    margin: 0;
}

.hero-left h2 {
    font-size: 32px;
    color: #ff4d79;
    margin-top: 10px;
}

.desc {
    width: 450px;
    font-size: 18px;
    margin: 20px 0;
}

/* BUTTON */
.btn {
    width: 150px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff4d79;
}

/* HERO IMAGE */
.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 600px;
    height: 500px;
    background-color: #ffd6e8;
    position: absolute;
    top :80px;
    right: 20px;
}